archive/
dist/

# ignore temporary Python stuff
*.pyc
.ipynb_checkpoints/
__pycache__/
src/hillmaker.egg-info/
.idea/

# tests
tests/output/

devnotes/

# examples
examples/scripts/output/
examples/data/
examples/notebooks/output/
examples/notebooks/.ipynb_checkpoints/
#examples/notebooks/*.html

# docs
docs/conf.py
docs/_build/
docs/data/
docs/output/


